# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.js]
# Avoid trailing whitespace
trim_trailing_whitespace = true
# Set default charset for JS files
charset = utf-8
# Tab indentation
indent_style = tab
tab_width = 2

# Matches the exact files either package.json or .travis.yml
# and overrides them to use 2-space indentation
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
