# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files
browser/

# Ignore generated coverage directory
coverage/

# Ignore documentation site scaffold
documentation/

# Ignore local testing script
test.js
