---
layout: default
---

<div class="home">

  <h2 class="page-heading">About {{ site.library_title }}</h2>

  <p><code>node-wpapi</code> makes it easy for your JavaScript application to request specific resources from a <a href="https://wordpress.org">WordPress</a> website. It uses a query builder-style syntax to let you craft the request being made to <a href="http://v2.wp-api.org">WordPress REST API</a> endpoints, then returns the API&#39;s response to your application as a JavaScript object. And don&#39;t let the name fool you: <code>node-wpapi</code> works just as well in the browser as it does on the server!</p>
<p>This library is maintained by K. Adam White at <a href="https://bocoup.com">Bocoup</a>, with contributions from a <a href="https://github.com/WP-API/node-wpapi/graphs/contributors">great community</a> of WordPress and JavaScript developers.</p>
<p>To get started, <code>npm install wpapi</code> or <a href="https://wp-api.github.io/node-wpapi/wpapi.zip">download the browser build</a> and check out &quot;Installation&quot; and &quot;Using the Client&quot; below.</p>


  <section>

    <h2 class="page-heading">Readme &amp; Getting Started</h2>

    <ol class="post-list">
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Installation</a>
        <ul>
          <li>
            <a class="post-sublink" href="{{ "/installation#install-with-npm" | prepend: site.baseurl }}">Install with NPM</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/installation#download-the-umd-bundle" | prepend: site.baseurl }}">Download the UMD Bundle</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Using the Client</a>
        <ul>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#self-signed-insecure-https-certificates" | prepend: site.baseurl }}">Self-signed (Insecure) HTTPS Certificates</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#auto-discovery" | prepend: site.baseurl }}">Auto-Discovery</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#bootstrapping" | prepend: site.baseurl }}">Bootstrapping</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#creating-posts" | prepend: site.baseurl }}">Creating Posts</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#updating-posts" | prepend: site.baseurl }}">Updating Posts</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#requesting-different-resources" | prepend: site.baseurl }}">Requesting Different Resources</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#filtering-collections" | prepend: site.baseurl }}">Filtering Collections</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#uploading-media" | prepend: site.baseurl }}">Uploading Media</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/using-the-client#custom-routes" | prepend: site.baseurl }}">Custom Routes</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Embedding Data</a>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Working with Paged Response Data</a>
        <ul>
          <li>
            <a class="post-sublink" href="{{ "/working-with-paged-response-data#using-pagination-headers" | prepend: site.baseurl }}">Using Pagination Headers</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/working-with-paged-response-data#requesting-a-specific-page" | prepend: site.baseurl }}">Requesting a Specific Page</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Authentication</a>
        <ul>
          <li>
            <a class="post-sublink" href="{{ "/authentication#basic-authentication" | prepend: site.baseurl }}">Basic Authentication</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/authentication#manually-forcing-authentication" | prepend: site.baseurl }}">Manually forcing authentication</a>
          </li>
          <li>
            <a class="post-sublink" href="{{ "/authentication#cookie-authentication" | prepend: site.baseurl }}">Cookie Authentication</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Issues</a>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">Contributing</a>
      </li>
      <li>
        <a class="post-link" href="{{ "/<< section.slug >>" | prepend: site.baseurl }}">API Documentation</a>
      </li>
    </ol>

  </section>

  <section>
    <h2 class="page-heading">User Guides</h1>

    <p>Don't see the topic you're looking for? <a href="https://github.com/WP-API/node-wpapi/issues">Open an issue</a> to request a guide, or <a href="https://github.com/WP-API/node-wpapi/tree/master/documentation/_posts">submit your own</a> with a pull request!

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="post-link">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            by
            {% if post.author_web %}<a href="{{ post.author_web }}">{% endif %}
              {{ post.author }}
            {% if post.author_web %}</a>{% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </section>


</div>
